nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .icon-size
{
    width: 45px;
    height: 45px;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}

.red
{
    color: #ea433b;
}

.wide-input 
{
    width: 23%;
}