{% extends "layout.html" %}

{% block head %}
    Add
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto wide-input" autocomplete="off" autofocus name="company" type="text" placeholder="Company">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto wide-input" autocomplete="off" name="username" type="text" placeholder="Username/Email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto wide-input" id="password" name="password" type="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="button" onclick="generatePassword()">Generate Password</button>
            <button class="btn btn-primary" type="button" onclick="togglePassword()">Show Password</button>
            <script>
                function generatePassword() {
                    fetch('/generate_password')
                        .then(response => response.json())
                        .then(data => {
                            document.querySelector('#password').value = data.password;
                        });
                }

                function togglePassword() {
                    const password = document.querySelector('#password')
                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                    password.setAttribute('type', type);
                }
            </script>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Add Account</button>
        </div>
    </form>
{% endblock %}