{% extends "layout.html" %}

{% block head %}
    Change Password
{% endblock %}

{% block main %}
    <div class="mb-3 page-title">
        <h3>Change Password:</h3>
    </div>
    <form action="/changePassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autofocus name="old-password" type="password" placeholder="Old Password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new-password" type="password" placeholder="New Password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirm-new-password" type="password" placeholder="Confirm New Password">
        </div>
        <div class="mb-3 text-center"> 
            <button class="btn btn-primary" type="submit">Submit</button>
        </div> 
    </form>
{% endblock %}