{% extends "layout.html" %}

{% block head %}
    Edit
{% endblock %}

{% block main %}
    <div class="mb-3 page-title">
        <h3>Edit account:</h3>
    </div>
    <form action="/edited" method="post">
        <input hidden name="account_id" value="{{ account[0]['id'] }}">
        <div class="mb-3">
            <input class="form-control mx-auto wide-input" autocomplete="off" autofocus name="company" type="text" placeholder="Company" value="{{ account[0]['company'] }}">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto wide-input" autocomplete="off" name="username" type="text" placeholder="Username/Email" value="{{ account[0]['username'] }}">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto wide-input" id="password" name="password" type="password" placeholder="Password" value="{{ account[0]['password'] }}">
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-primary" type="button" onclick="generatePassword()">Generate Password</button>
            <button class="btn btn-primary" type="button" onclick="togglePassword()" id="toggleButton">Show Password</button>
            <script>
                function generatePassword() {
                    fetch('/generate_password')
                        .then(response => response.json())
                        .then(data => {
                            document.querySelector('#password').value = data.password;
                        });
                }

                function togglePassword() {
                    const password = document.querySelector('#password')
                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                    password.setAttribute('type', type);

                    const button = document.querySelector('#toggleButton');
                    const text = button.textContent === 'Show Password' ? 'Hide Password' : 'Show Password';
                    button.textContent = text;
                }
            </script>
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </form>
{% endblock %}