{% extends "layout.html" %}

{% block head %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" autofocus name="username" type="text" placeholder="Username">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" type="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}